* {
    box-sizing: border-box;
}

@font-face {
    font-family: memes;
    src: url(../fonts/impact.ttf);
}

@font-face{
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    margin: 0;
    background-color: #dedcda;
    user-select: none;
}

.gallery-imgs {
    border-radius: 10px;
}

.logo {
    height: 40px;
    margin-bottom: 10px;
}



.search-bar{
    display: flex;
    flex-direction: column;
}

input[name="search"]{
    border-radius: 5px;
    border: 3px solid #FF5722;;
    /* background-color: rgb(255, 255, 255); */

}
input[name="search"]::placeholder{
    color: #FF5722;
}

.my-canvas {
    border-radius: 15px;
}



header {
    background-color: #2f3c3c;
    width: 100%;
    height: 20vh;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -10px 6px 5px #27272780;
}
.menu-btn{
    padding: 0;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;

}

.nav-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: flex;
    margin-left: 10px;
}

.nav-bar button:hover {
    box-shadow: inset 0px 8px 6px 1px #27272780;
}

.nav-btn {
    transition: all 0.2s;
    border: 1px solid #FF9800;
    height: 20vh;
    padding: 0px 30px;
    background-color: rgb(102, 112, 112);
    color: whitesmoke;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.saved-memes {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
}

.saved-memes img {
    width: 80%;
    border-radius: 10px;
}

.gallery-background {
    background-color: #e6e5e4;
}

.gallery-container {
    margin: 0px 80px;
}


.tools { 
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(auto-fit,50px);
    grid-template-areas: 
    "moveUp moveUp moveDown moveDown"
    "sizeUp sizeUp sizeDown sizeDown"
    "fillColor fontFamily fontFamily strokeColor"
    "fillColor fontFamily fontFamily  strokeColor"
    "alignLeft  alignCenter alignCenter  alignRight"
    "alignLeft trash trash alignRight "
    "switch switch switch switch"
    "finish finish finish finish"
    ". emojis emojis ."
    ;
}  


.changes-btn.btn1{
    grid-area: moveUp ;
}

.changes-btn.btn2{
    grid-area: moveDown ;
}

.changes-btn.btn3{
    grid-area: sizeUp ;
}

.changes-btn.btn4{
    grid-area: sizeDown ;
}


.btn5{
    grid-area: fillColor ;
}
.changes-btn.btn5{
    
}


.btn6{
    grid-area: strokeColor ;
    
}
.changes-btn.btn6{
}

.btn7{
    grid-area: fontFamily ;
    background-color: #dedcda;
    border:0.5px solid white;
    border-radius: 4px;
}

.changes-btn.btn8{
    grid-area: trash ;
    background-color: rgb(177, 177, 177);
}

.changes-btn.btn9{
    grid-area: alignLeft ;
    background-color:#dedcda
}

.changes-btn.btn10{
    grid-area: alignCenter ;
    background-color:#dedcda
}

.changes-btn.btn11{
    grid-area: alignRight ;
    background-color:#dedcda
}

.changes-btn.btn12{
    grid-area: switch ;
    background-color: steelblue;
}
.changes-btn.btn13{
    grid-area: finish ;
    background-color:  steelblue;
}
.emojis-container{
    grid-area: emojis;
}
.btn14{
    grid-area: save;
    grid-column:2/4 ;
}

.gallery {
    border: 1px solid #dbc8c8;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(6, 50vh);
    gap: 10px;
}

.gallery img:hover {
    box-shadow: -1.5px 6px 16px 0px #ff7f0082;
}

.gallery img {
    transition: all 0.4s;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container {
    margin-top: 50px;
    /* height: 70vh; */
}

.main-contant {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-gap: 10px; */
}

.canvas-container {
    height: 80vh;
    width: 50vw;
    margin-right: 100px;
    margin-left: 50px;
    /* border: 2px solid rgb(196, 194, 194); */
    /* margin-top: 30px; */
}

canvas {
    background-color: rgb(197, 211, 211);
}

.user-prefs {
    display: grid;
    margin-right: 50px;

    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.submit {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn.save-btn{
    padding: 10px 10px;
    background-color: #2f3c3c;
    color: #5792a9;
}

.submit.submit-tools{
 margin-right: 40px;
}

.input {
    border: 1.5px solid steelblue ;
    border-radius: 4px;
    padding: 20px 30px;
    text-align: center;
    margin: 10px 0;

}

.finish-editing{
    font-family: lato;
    color: white;
    font-size: 13px;
    line-height: 14px;
}
.changes-btn.download{
    background-color: #dedcda;;
}


.changes-btn.switch:focus {
    background-color: rgb(31, 221, 47);
}

.changes-btn.switch:hover {
    width: 160px;
}

.changes-btn.switch {
    transition: all 0.3s;
    grid-column: 1/-1;
    width: 100px;
    justify-self: center;
}

.btn-submit:hover {
    background-color: #42f01ee3;
}

.btn-submit {
    transition: background-color 0.4s;
    background-color: rgb(222, 220, 218);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.save-btn {
    background-color: #db750f;
    cursor: pointer;
    padding: 10px  0
}

.btn {
    border: 0;
    border-radius: 4px;
    /* width: 60px;
    height: 60px; */
    text-align: center;
    padding: 0;
}

.changes-btn {
    border: 1px solid rgb(222, 220, 218);
    border-radius: 4px;
    background-color: #ff9800;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
}
.color {
    position: absolute;
    opacity: 0;
    width: 20px;
    margin:10px 70px;
    cursor: pointer;
}

.emojis-list {
    cursor: pointer;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3,50px)
}

.icons {
    width: 20px;
    height: 20px;
    
}

footer{
    margin: 0 auto;
    background: #2f3c3c;
    width: 100%;
    height: 20vh;
}

.footer-text{
    color: #a1a0a0;
    text-align: center;
    padding-top: 45px;
    font-family: memes;
    font-size: 14px;
}

@media(max-width:500px) {
    header {
        height: 14vh;
        margin-bottom: 10px;
    }
    .gallery-container {
        margin: 0;
    }
    .gallery {
        border: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
        gap: 0;
    }
    .gallery img {
        justify-self: center;
        width: 40vw;
        height: 20vh;
        /* gap: 10px; */
        margin-bottom: 10px;
    }
    .main-contant {
        display: block;
    }
    .canvas-container {
        height: 50vh;
        margin-bottom: 5px;
        margin: 0 20px;
    }
    .my-canvas {
        width: 90vw;
        height: 50vh;
    }
    .menu-btn{
        display: block;
        z-index: 2;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border: 0;
        background-color: #FF9800;
        
    }

    body.open .nav-bar{
        transform: translate(0%, 0%);

    }
    .nav-bar {
        z-index: 1;
        position: fixed;
        transition: transform 0.8s;
        transform: translate(0%, -100%);
        margin: 0;
        padding: 0;
        flex-direction: column;
        right: 0;
        left: 0;
        top: 0;
        height: 55vh;
        background-color: rgba(190, 190, 190, 0.548);
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        /* overflow: hidden; */
    }
    .submit{
        display: block
    }
    .submit.submit-tools{
        margin:0px 30px;
    }
    .emojis-list{
        display: flex;
        justify-content: center;
    }
    .tools {
        gap: 1px;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(auto-fit,5em);
        grid-template-areas: 
        "moveUp moveDown sizeUp sizeDown"
        " fillColor strokeColor switch switch "
        "alignLeft  alignCenter alignRight trash"
        "fontFamily fontFamily finish finish"
        ;
    }  
    .changes-btn.btn9{
        padding:20px
    }
    footer{
        /* height: 10vh; */
        display: none;
    }
    .btn14{
        height: 90px;
    }
    .changes-btn.btn12{
        background-color: #ff9800;
    }
    .footer-text{
        font-size: 8px;
    }

    .nav-bar li{
        margin: 0;
    }
    .nav-bar ul{
        flex-direction: column;
    }
  .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
    
}